{% extends 'base.html' %}

{% block body %}
<style>
  .card img {
    width: 100%; /* Set the width to 100% of the container */
    height: 200px; /* Set the fixed height for the images */
    object-fit: contain; /* Maintain aspect ratio and cover the container */
  }
</style>
  <div class="inner-banner">
  </div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="#url">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Clients</li>
      </ul>
    </div>
  </section>
  <!--/services-->


  <section class="w3l-portfolio-8 pb-5">
    <div class="portfolio-main py-md-5 py-3">
      <div class="container">
        <div class="header-section text-center mx-auto">
          <h6 class="sub-titlehny"> Our Clients</h6>
          <!--<h3 class="hny-title">Latest Clients</h3>-->
          <p class="my-3">
            Welcome to our portfolio of success! We take pride in our latest collaborations with diverse clients who
            have entrusted us with their talent acquisition and HR needs.
          </p>
        </div>


            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

            {% for i in Clients %}

                    <div class="col">

                      <div class="card shadow-sm  rounded-3 protfolio-item hover14"  data-aos="fade-up" data-aos-delay="100" style='border:5px solid #c71f4c'>
                        <img src="/media/{{ i.thumbnail }}"  data-lightbox="example-set"  class="img-fluid card-img-top mx-auto" alt="">
                      </div>

                    </div>
            {% endfor %}


      </div>

      </div>
    </div>
  </section>
  <!--//projects-->


  {% endblock body %}