{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="inner-banner">
</div>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Contact Us</li>
        </ul>
    </div>
</section>
  <!--/contact-->
<section class="w3l-contact-11 py-5">
    <div class="contacts-main py-lg-5 py-md-4">
      <div class="title-content text-center">
        <h2 class="sub-titlehny">Contact Us</h2>
        <h3 class="hny-title">Get in touch with us</h3>
    </div>
      <div class="form-41-mian section-gap mt-5">
        <div class="container">
          <div class="d-grid">
            <div class="form-inner-cont">




              <form method="post" class="fgrn">{% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-style btn-primary">Submit Message</button>
              </form>




            </div>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d454.4901311072406!2d72.82594755548962!3d18.967772421080525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce6a8a42de73%3A0xf7ae73d6d4bfc6c5!2sOzone%20Biz%20Center%2C%20Manaji%20Rajuji%20Rd%2C%20Nagpada%2C%20Madanpura%2C%20Mumbai%2C%20Maharashtra%20400008!5e0!3m2!1sen!2sin!4v1702814334275!5m2!1sen!2sin"
               width="400" height="220" style="border:0;" allowfullscreen=""
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              {% comment %} <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001161.424489281!2d-78.01909140705047!3d42.72866436845163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sin!4v1570786994395!5m2!1sen!2sin"
                frameborder="0" allowfullscreen=""></iframe> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="contant11-top-bg mt-lg-5 mt-4">
        <div class="container text-center">
          <div class="d-grid contact pt-lg-4">
            <div class="contact-info-left d-grid text-center">

              <div class="contact-info mt-4">
                <h3>Berlin Office</h3><br>
                <p class="mb-3"><label>Address: </label> A 1204, 12th Floor, Ozone Biz Center, Next to Maharashtra College, Bellasis Road,<br> Boman Behram Marg, Mumbai Central, Mumbai - 400 008</p>
                <p class="mb-3"><label>Hours : </label> Mon-Fri: 8am – 7pm</p>
              </div>
              <div class="contact-info mt-4">
                <h3>Phone</h3><br>
                <p class="mb-3"><label>Phone : </label> <a href="tel:+91-22-46055118">+91-22-46055118</a></p>
                {% comment %} <p class="mb-3"><label>Phone : </label> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></p>
                <p class="mb-3"><label>Phone : </label> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></p> {% endcomment %}

              </div>
              <div class="contact-info mt-4">
                <h4>Email</h4><br>
                <p class="mb-3"><label>Email : </label> <a href="mailto:info@danishtravels.co" class="email">info@danishtravels.co</a></p>
                {% comment %} <p class="mb-3"><label>Email : </label> <a href="mailto:DanishTravels@email.com" class="email">DanishTravels@email.com</a></p>
                <p class="mb-3"><label>Email : </label> <a href="mailto:DanishTravels@email.com" class="email">DanishTravels@email.com</a></p> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
  <!--//contact-->




  {% endblock %}
