<script>window.location.hash && document.getElementById(window.location.hash.substr(1))?.scrollIntoView({ behavior: 'smooth' });</script>
<script type="text/javascript">
   function googleTranslateElementInit() {  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="/media/assets/js/jquery-3.3.1.min.js"></script>
<script>
   $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
         loop: true,
         margin: 0,
         nav: true,
         responsiveClass: true,
         autoplay: true,
         autoplayTimeout: 5000,
         autoplaySpeed: 1000,
         autoplayHoverPause: false,
         responsive: {
            0: {
               items: 1,
               nav: false
            },
            480: {
               items: 1,
               nav: false
            },
            667: {
               items: 1,
               nav: true
            },
            1000: {
               items: 1,
               nav: true
            }
         }
      })
   })
</script>
<script>
   $(document).ready(function () {
      $('.owl-one').owlCarousel({
         loop: true,
         margin: 0,
         nav: false,
         responsiveClass: true,
         autoplay: true,
         autoplayTimeout: 5000,
         autoplaySpeed: 1000,
         autoplayHoverPause: false,
         responsive: {
            0: {
               items: 1,
               nav: false
            },
            480: {
               items: 1,
               nav: false
            },
            667: {
               items: 1,
               nav: true
            },
            1000: {
               items: 1,
               nav: true
            }
         }
      })
   })
</script>
<script src="/media/assets/js/jquery.waypoints.min.js"></script>
<script src="/media/assets/js/jquery.countup.js"></script>
<script>
   $('.counter').countUp();
</script>
<script>
   $(document).ready(function() {
     $('#sector_w .nav-link').hover(
       function() {
         $(this).addClass('active')

      if ($(this).hasClass('sector_nav')) {
        // Add CSS styling to set the color to white
        $(this).css('color', 'white');
      }
       },
       function() {
         $(this).removeClass('active');
          if ($(this).hasClass('sector_nav')) {
            // Add CSS styling to set the color to white
            $(this).css('color', '#c71f4c');
          }
       }
     );
   });
</script>
<script>
   $(document).ready(function(){
     var path = window.location.pathname;

     $('.nav-link').each(function(){
       var href = $(this).attr('href');
       if (path === href) {
         $(this).addClass('active');
         $(this).removeClass('sub-titlehny');

      if ($(this).hasClass('sector_nav')) {
        // Add CSS styling to set the color to white
        $(this).css('color', 'white');
      }


       }
     });
   });
</script>
<script>
   $(window).on("scroll", function () {
     var scroll = $(window).scrollTop();

   //   if (scroll >= 80) {
       $("#site-header").addClass("nav-fixed");
       $("#nav_img").attr('src', '/media/assets/images/Pi7_Tool_8aQM2c.png');

   //   }
   //   else {
   //     $("#site-header").removeClass("nav-fixed");
   //     $("#nav_img").attr('src', '/media/assets/images/output-onlinepngtools (2).png');

   //   }
   });

   $(".navbar-toggler").on("click", function () {
     $("header").toggleClass("active");
   });
   $(document).on("ready", function () {
     if ($(window).width() > 991) {
       $("header").removeClass("active");
     }
     $(window).on("resize", function () {
       if ($(window).width() > 991) {
         $("header").removeClass("active");
       }
     });
   });


   $(".navbar-toggler").on("click", function () {
         $("header").toggleClass("active");
      });
      $(document).on("ready", function () {
         if ($(window).width() > 991) {
            $("header").removeClass("active");
         }
         $(window).on("resize", function () {
            if ($(window).width() > 991) {
               $("header").removeClass("active");
            }
         });
      });

   var currentPath = window.location.pathname;
   var navLinks = document.querySelectorAll('nav a');

   for (var i = 0; i < navLinks.length; i++) {
   var link = navLinks[i];
   if (link.getAttribute('href') === currentPath) {
     link.classList.add('active');
   }
   }
</script>
<script>
   $(document).ready(function () {
              $('.nav-item.dropdown').hover(function () {
                  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
              }, function () {
                  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
              });

              $('.nav-link.dropdown-toggle').on('click', function (e) {
                  var dynamicUrl = $(this).attr('href');
                  if (dynamicUrl && dynamicUrl !== "#") {
                      e.preventDefault();
                      window.location.href = dynamicUrl;
                  }
              });
          });
</script>
<script>
   document.addEventListener("DOMContentLoaded", function () {
       var navItems = document.querySelectorAll(".navbar-nav li");

       navItems.forEach(function (item) {
           item.addEventListener("mouseenter", function () {
               this.classList.add("active");
           });

           item.addEventListener("mouseleave", function () {
               this.classList.remove("active");
           });
       });
   });
</script>
<script>
   $(document).ready(function() {


       $('.owl-one').on('changed.owl.carousel', function(event) {

          var currentSlide = event.item.index;
          var $currentSlide = $('.owl-one .owl-item').eq(currentSlide);

          $currentSlide.find('h5').removeClass('animate__animated');
          $currentSlide.find('p').removeClass('animate__animated');
          $currentSlide.find('h5').removeClass('animate__fadeInUp');
          $currentSlide.find('p').removeClass('animate__fadeInRight');


          $currentSlide.find('h5').addClass('animate__animated');
          $currentSlide.find('p').addClass('animate__animated');
          $currentSlide.find('h5').addClass('animate__fadeInUp');
          $currentSlide.find('p').addClass('animate__fadeInRight');

       });
   });

</script>
<script>
   const checkbox = document.getElementById('checkbox');
   checkbox.addEventListener('change', function() {
       if ( checkbox.checked){
             $("#site-header").addClass("bg-dark");
             $("#site-header").removeClass("bg-white");
       }
       else{
           $("#site-header").addClass("bg-white");
           $("#site-header").removeClass("bg-dark");
       }

   });

   function changeBackground(element, backgroundUrl,white_png) {
    let url = window.location.href+'media/'+backgroundUrl

    element.style.transition = 'background 0.3s ease-in';
    element.style.background = "linear-gradient(#e82b5e9c, #e82b5e9c), url(" + url + ") center center no-repeat";
    element.style.backgroundSize = 'cover';

     let paragraphs = element.getElementsByTagName('p');
      for (let i = 0; i < paragraphs.length; i++) {
        paragraphs[i].style.color = 'black';
      }

     let image = element.getElementsByTagName('img');
      for (let i = 0; i < image.length; i++) {
        image[i].src = `/media/${white_png}`;
      }

   }

   function resetBackground(element,orginal) {
    element.style.transition = '';
    element.style.background = '';

     let image = element.getElementsByTagName('img');
      for (let i = 0; i < image.length; i++) {
        image[i].src = `/media/${orginal}`;
      }

   }



</script>
<script src="/media/assets/js/theme-change.js"></script>
<script src="/media/assets/js/lightbox-plus-jquery.min.js"></script>
<script src="/media/assets/js/owl.carousel.js"></script>
<script src="/media/assets/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>