{% extends 'base.html' %}
{% block body %}
<style>
  .card-img {
    width: 130%; /* Set the width to 100% of the container */
    height: 200px; /* Set the fixed height for the images */
    object-fit: contain; /* Maintain aspect ratio and cover the container */
  }
</style>



  <div class="inner-banner"></div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li>
          <a href="#url">Home</a>
        </li>
        <li class="active">
          <span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Sector
        </li>
      </ul>
    </div>
  </section>

<section class="w3l-team" id="Sector">
   <div class="team pt-1">
      <div class="container py-md-5">
         <div class="header-section text-center mx-auto">
            <!--<h6 class="sub-titlehny"></h6>-->
            <h3 class="hny-title">Industries We Serve</h3>
            <!--<p class="my-3">At Danish Travels, our expertise spans across various sectors. We specialize in delivering top-notch solutions tailored to the unique needs of each industry. From residential and commercial H.R Solutions to innovative project management, we are committed to excellence.</p>-->
         </div>

         <div class=" w3l-cwp4-sec m-0">
            <div class="container">

                <ul class="nav nav-pills nav-fill" id="sector_w">
                  <li class="nav-item">
                    <a class="nav-link  hny-title sector_nav " href="{% url 'allSEC' %}"  style="font-weight: 600;color: #c71f4c;text-decoration: none;">All</a>
                  </li>
                  {% for i in catag %}
                      <li class="nav-item">
                        <a class="nav-link  hny-title sector_nav" href="{% url 'cataSlug' i.slug %}" style="font-weight: 600;color: #c71f4c;text-decoration: none;">{{ i.title }}</a>
                      </li>
                 {% endfor %}


                </ul>

            </div>
         </div>


<br>
<br>

         <div class="row">
            {% for i in data %}
            <div class="col-lg-4 col-6 team-wrap mt-sm-0 pt-sm-0 my-4 py-2">
               <div class="team-info">
                  <div class="column position-relative img-circle">
                     <a href="{% url  'cont'%}"><img src="/media/{{ i.thumbnail }}" alt="" class="img-fluid card-img" /></a>
                  </div>
                  <div class="column-btm text-center">
                     <h6 class="name-pos text-break"><a href="#url">{{ i.name }}</a></h6>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>

      </div>
   </div>
   </div>
</section>
{% endblock body %}