{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}


<div class="container  py-5">


    <div class="feature col g-5 py-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center">
          <img src="/media/{{ object.thumbnail }}" class="d-block mx-lg-auto img-fluid" alt="Services image" width="100" height="100" loading="lazy">
        </div>
        <h3 class="fs-2 " style="color:#c71f4c">{{ object.title }}</h3>
        <p>{{ object.about }}</p>
        <div class="buttons mt-5">
            <a href="/contact_us/" class="btn btn-style btn-primary mr-2">Book Consultation</a>
        </div>
    </div>




</div>





  {% endblock %}
