{% extends 'base.html' %}

{% block body %}
  <div class="inner-banner"></div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li>
          <a href="#url">Home</a>
        </li>
        <li class="active">
          <span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Services
        </li>
      </ul>
    </div>
  </section>
  <!-- /about -->
  <div class="py-5 w3l-cwp4-sec text-dark" id="Mission">

    <div class="container">
      <div class="row flex-center">
        <div class="col-12 mb-2 mb-lg-5 text-center">
          <h6 class="sub-titlehny mb-2">Our Services</h6>
          <h3 class="hny-title">Our Tailored 360-degree Assistance.</h3>
        </div>
      </div>

        {% for s in Services %}
      <div class="row align-items-center g-5 py-5">

          <div class="col-lg-6 {% if forloop.counter|divisibleby:2 %}order-lg-1{% endif %}  text-center">
            <img src="/media/{{ s.thumbnail }}" class="d-block mx-auto img-fluid" alt="Services image" width="200" height="200" loading="lazy">
          </div>

          <div class="col-lg-6 ">
            <h4 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">
              <span class="t_title">{{ forloop.counter }}</span> {{ s.title }}
            </h4>
            <p class="lead">{{ s.about }}</p>
          </div>

      </div>

        {% endfor %}

    </div>

  </div>
{% endblock %}
