{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

  <div class="inner-banner"></div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li>
          <a href="#url">Home</a>
        </li>
        <li class="active">
          <span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Services
        </li>
      </ul>
    </div>
  </section>
<div class="container row pt-1 py-4">


  <div class="feature col-md-6 col-12 g-5 py-1">
    <img src="/media/{{ object.background }}" class="d-block mx-lg-auto img-fluid" alt="Services image" width="500" height="500" loading="lazy">
</div>


    <div class="feature col-md-6 col-12 g-5 py-1">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center">
          <img src="/media/{{ object.thumbnail }}" class="d-block mx-lg-auto img-fluid" alt="Services image" width="100" height="100" loading="lazy">
        </div>
        <h3 class="fs-2 " style="color:#c71f4c">{{ object.title }}</h3>
        <p>{{ object.about }}</p>
        <div class="buttons mt-5">
            <a href="/contact_us/" class="btn btn-style btn-primary mr-2">Book Consultation</a>
        </div>
    </div>



</div>





  {% endblock %}
